*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    background-image: url("/images//student.jpg");
    backdrop-filter: blur(2px);
    background-size: cover;   
    height: 100vh;    
    font-weight: bold;
}
header{
    width: 100%;
    display: flex;
    align-items: center;    
    background-color: #dfe6f6;    
}
li{
    list-style: none ;
}
a{
    text-decoration: none;
    color: #480171;
}
a:hover{
    color: #9854cb;
}
.contain{
    width: 1600px;
    
}
.subcontain{
    width: 85%;
    margin: auto;

}
.navbar{
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.hamburger{
    display:none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0px ;
    transition: all 0.3s ease;
    background-color: #9854cb;
}

main{
    display: flex;
    margin: 7rem 0rem;
    
}
.hero{
    font-size: 5rem;
    color: #dfe6f6;
    margin: 0rem 0rem 0rem 4rem;  
    background-size: cover;
    background-position: center;
}
span{
    color: #9854cb;
}
.logo {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 0rem 0rem 0rem 3rem;
}
.veritas-logo{
    width: 80px;
    height: 80px;
}


.form-input{
    padding: 0.8rem;
    width: 15rem;
    border-radius: 0.3rem;
    border: 0;
    margin: 0.5rem;
}

.sign{
    color:#9854cb;
    font-size: 2rem;
}
.button {
    background-color: #9854cb;
    color: white;
    font-weight: bold;
}
.signup-form {
    margin: 0rem 0rem 0rem 20rem;    
}
  #radius-shape-1 {
    height: 220px;
    width: 220px;
    top: -60px;
    left: -130px;
    background: radial-gradient(#44006b, #ad1fff);
    overflow: hidden;
  }

  #radius-shape-2 {
    border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
    bottom: -60px;
    right: -110px;
    width: 300px;
    height: 300px;
    background: radial-gradient(#44006b, #ad1fff);
    overflow: hidden;
  }

  .bg-glass {
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
  }

/* MEDIA QUERRIES */
@media screen and (max-width: 1200px) {
    .veritas-logo{
        width: 100px;
        height: 100px;
    }
    header{
        height: 5rem;
        justify-content: space-around;
    }
    .contain{
        width: 100%;
    }
    .hero{
        font-size: 5rem;
        margin: 8rem 0rem 0rem 2rem

    }
    section{
        display: flex;
        flex-direction: column;  
        margin: 4rem 0rem;  
        background-color: rgba(152, 84, 203, 0);   
    }

    .signup-form {
        margin: 0;
        justify-content: center;
    }
    .logo{
        margin: 0rem 0rem 0rem 2rem;
    }  
  
    .hamburger{
        display: block;
    }
    .hamburger .active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger .active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger .active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    
    section{
        display: flex;
        margin: 3rem 0rem;
        
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #9854cb;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu .active {
        left: 0;
    }
}
/* MEDIA QUERRIES FOR PHONES */
@media screen and (max-width:768px) {
    .veritas-logo{
        width: 70px;
        height: 70px;
    }
    header{
        height: 4rem;
    }
    .hero{
        font-size: 3rem;
    
    }
    section{
        display: flex;
        margin: 0.1rem 0rem;
        
    }
    .nav a {
        display: none;
    }
    .logo{
        margin: 0rem 0rem 0rem 1rem;
    }

}


