*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("images/student.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;    
    font-weight: bold;
}
header{
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    background-color: #dfe6f6;    
}
.nav{
    display: flex;
}
.nav a {
    justify-content: space-between;
    text-decoration: none;
    font-size: 1.2rem;
    color:#9854cb ;
    margin: 0rem 4rem;
    font-weight: 2rem;
}
.nav a:hover {
    color: #a57cc4;  
}

section{
    display: flex;
    margin: 8rem 0rem;
    
}
.hero{
    font-size: 5rem;
    color: white;
    margin: 0rem 0rem 0rem 4rem
}
span{
    color: #9854cb;
}
.logo {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 0rem 0rem 0rem 3rem;
}
.veritas-logo{
    width: 80px;
    height: 80px;
}

.sign{
    text-align: center;
    font-size: 1.5rem;
}
.form-input{
    padding: 0.8rem;
    width: 15rem;
    border-radius: 0.3rem;
    border: 0;
    margin: 0.5rem;
}
.form-button{
    padding: 0.6rem 1rem;
    margin: 1rem 0.6rem;
    color: #9854cb;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 0.2rem;
    border: 0;
    background-color: white;
    cursor: pointer;
}

/* MEDIA QUERRIES */
@media screen and (max-width: 1200px) {
    .veritas-logo{
        width: 40px;
        height: 40px;
    }
    header{
        height: 5rem;
    }
    .hero{
        font-size: 5rem;
        margin: 8rem 0rem 0rem 2rem

    }
    section{
        display: flex;
        flex-direction: column;        
    }
    body{
        background-image: url("/images/student1.jpg");
    }
    .signup-form {
        margin: 0;
        justify-content: center;
    }
    .logo{
        margin: 0rem 0rem 0rem 2rem;
    }
    .nav a {      
        margin: 0rem 4rem;
        display: none;
        
    }
    section{
        display: flex;
        margin: 3rem 0rem;
        
    }

}

@media screen and (max-width:768px) {
    .veritas-logo{
        width: 40px;
        height: 40px;
    }
    header{
        height: 4rem;
    }
    .hero{
        font-size: 3rem;
    
    }
    section{
        display: flex;
        margin: 4rem 0rem;
        
    }
    .nav a {
        display: none;
    }

}